@font-face {
    font-family: MyFont;
    src: url(Fonts/MyFont.ttf);
}



body {
    background-color: #49beb7;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ff5959;
    box-sizing: border-box;
    width: 55%;
    height: 800px;
    border-radius: 5%;
    align-items: center;
}

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h1 {
    display: flex;
    color: #f0d43a;
    font-weight: 600;
    font-size: 64px;
    font-family: MyFont;
    margin: 0;

}

.board {
    width: 600px;
    height: 550px;
    background-color: #fafafa;
    border: 0.5px solid white;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.board .cell {
    border: 1px solid #ccc;
    width: var(--cell-width);
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
}

#set-grid-button {
    display: flex;
    justify-content: baseline;
}

.range {
    display: flex;
    justify-content: baseline;

}

#rangeValue {
    margin-left: 10px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 1.1rem;
}

button {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

footer {
    display: flex;
    justify-content: baseline;
    margin-top: 2em;
    color: #fafafa;
    font-size: 1.1rem;
    font-weight: bold;
}

footer img {
    width: 20px;
    height: 20px;

}

.range-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    background: #ccc;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #f50;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

.range-input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #ff847c;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

.range-input::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 85, 0, .1)
}

.range-input:active::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, .2)
}

.range-input:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, .2)
}

.range-input::-moz-range-thumb:hover {
    box-shadow: 0 0 0 10px rgba(255, 85, 0, .1)
}

.range-input:active::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, .2)
}

.range-input:focus::-moz-range-thumb {
    box-shadow: 0 0 0 13px rgba(255, 85, 0, .2)
}

.value2,
.value3,
.value4 {
    font-size: 26px;
    width: 50px;
    text-align: center;
}